html,
body{
	height:100%;
	overflow: hidden;
}

.wrapper{
	min-width: 100%;
	min-height:100%;
	display: flex;
	position: absolute;
	flex-flow: column wrap;
}


.header{
	width: 100%;
	height: 100px;
	background-color: aqua;
	margin: 20px;
}
.main{
	background-color:green;
	width: 100%;
	height: 100px;
	margin-left: 20px;
}
.footer{
	width: 100%;
	height: 100px;
	background-color: black;
	margin-left: 20px;
}

.list{
	width: 500px;
	height: 100px;
	background-color: brown;
}

.container {
	display: flex;
	padding: 1em;
	box-sizing: border-box;
}

.none{
	width: 500px;
	height: 100px;
}